<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>

    <title>
        {% block title %}
            Home-FINE
        {% endblock %}
    </title>
</head>
<body class="{% block body_class %}{% endblock %}">

    <div class="container">

        {% block page_header %}
        {% endblock %}

        <main>

            {% block content %}
            {% endblock %}

            {% block navigation %}
            {% endblock %}

        </main>
        
        {% block page_footer %}
        {% endblock %}

    </div>

</body>
</html>